# MongoDB Configuration
MONGODB_URI="mongodb+srv://jatoliyaharsh8_db_user:4wB3G4NUsDwsnLov@cluster0.wqm5495.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-replace-with-random-string"

# Development Settings
NODE_ENV="development"
